    <ul class="song">
      <li class="title">Song Title: <%= song.title %></li>
      <li class="artist">Artist Name: <%= song.artist %></li>
      <li class="lyrics">Song Lyrics: <%= song.lyrics %></li>
    </ul>
