<!DOCTYPE html>
<html>
  <head>
    <title>Wigol-It Errors</title>
    <%- include('partials/head.ejs')%>
  </head>
  <body>
    <div id="wrapper">
    <header>
      <%- include('partials/header.ejs')%>
    </header>
    <div class="top-push"></div>
    <main>
      <section id="intro">
        <h2 class="headline">Sorry you might be lost in the music!</h2>
        <p class="instructions">Directions: hit the back button</p>
      </section>
    </main>
    <div class="push"></div>
    </div>
  <footer>
      <%- include('partials/footer.ejs')%>
  </footer>
  </body>
</html>
