<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
  </head>
  <body>
    <div id="wrapper">
    <main>Unable to process request, check your spelling!</main>
    <div class="push"></div>
    </div>
    <footer>
    </footer>
  </body>
</html>