<!DOCTYPE html>
<html>
  <head>
    <title>Wigol-It</title>
    <link href="./styles/reset.css" rel="stylesheet"/>
    <link href="./styles/base.css" rel="stylesheet"/>
    <link href="./styles/layout.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <section id="app-title">
        <h1>Wigol</h1>
        <img src="logo" alt="logo">
      </section>
      <section id="nav-box">
        <nav>
          <ul>
            <li><a href="link" >home</a></li>
            <li><a href="../Team.ejs" >About Us</a></li>
            <li><a href="link" >Library</a></li>
          </ul>
        </nav>
      </section>
    </header>
    <main>
      <section>
        <h2>Search the Databases for lyrical information</h2>
        <p>Directions: Type an artist name and song nameto search our database and get your lyrics!</p>
      </section>
      <section>
        <form action="/search" method="GET">
          <fieldset>
            <input type="text" name="artist" id="search">Artist Name</input>
            <input type="text" name="song" id="search">Song Name</input>
            <button type="submit">WIGOL-IT</button>
          </fieldset>  
        </form>
      </section>  
    </main>
  </body>
  <footer>created by the Wigolers</footer>
</html>
