* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #1C5253;
  margin: auto;
  /* border:2px dashed red; */
  width: 480px;
}

nav ul{
  display:flex;
}
input{
  text-align: center;
  margin: 8px auto;
  padding: 2.5px;
}
button{
  padding:5px;
}
fieldset{
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  color: darkorange;
  font-family: 'Fredericka the Great', cursive;
}

h1 {
  font-size: 54px;
}
h3{
  font-weight: 600;
}
h2{
  font-size: 28px;
  margin-bottom: 15px;
}

h4{
  font-size: 18px;
}
p{
  font-size: 12px;
  color: darkorange;
  font-family: 'Architects Daughter', cursive;  
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer, .push {
  height: 45px;
}