#nav-box{
  height: 100%;
  padding:5px;
}
nav li{
  margin: 5px auto;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  font-size: 75%;
}
header {
  border-bottom: 2.25px inset darkorange;
  border-radius: 0 0 22px 22px; 
  border-left: 2.25px solid darkorange;
  border-right: 2.25px solid darkorange;
}
#app-title{
  height: 75px;
  justify-content:center;
  align-items: center;
  display: flex;
  background-color: rgba(0,0,0,.3);
  border-bottom:2.25px inset darkorange;
}
#intro{
  height: 150px;
  width: 85%;
  margin: auto;
  padding-top:10px;
  align-items: center;
  text-align: center;
}

#search-bar{
  display: flex;
  margin: auto;
  justify-content: center;
}

#content-wrap {
  margin-top: 15px;

}
main{
  margin-left: 12%;
  margin-right: 12%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
#app-title img{
  margin:10px;
  height: 50px;
}
#footer-box{
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -45px;
}