
nav ul{
  display:flex;
}

nav li{
  border: 2px orange outset;
  margin: 3px auto;
  padding: 2.5px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0,0,0,.3);
}
#footer-box{
  height: 45px;
  width: 100%;
  border-top: 2.5px orange ridge;
  border-radius: 45px 45px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/footer.jpg") ;
  background-size: 100%;
  background-repeat: no-repeat;
}
.search-input{
  display:flex;
  margin: 5px, 5px, 5px, 0;
}

#app-title img{
  margin:5px;
  height: 50px;
}
#wigol-btn{ 
  background-color: rgba(0,0,0,.3);
}

.title {
  font-size: 18px;
  color: darkgoldenrod;
  font-family: 'Architects Daughter', cursive;
}

.artist {
  margin-bottom: 10px;
  color: darkorange;
  font-family: 'Fredericka the Great', cursive;
}

.lyrics {
  color: darkgoldenrod;
  font-family: 'Architects Daughter', cursive;
  margin-bottom: 10px;
}

#button-wrap {
  display: flex;
}

.worm-in-library {
  max-width: 4%;
  min-width: 3%;
}

#team-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.team-member {
  margin-top: 20px;
}

.team-headshot {
  max-width: 20%;
  border-radius: 5px;
}

#content-wrap {

}

#button-wrap {
  
}
