a{
  color: limegreen;
  text-decoration: none;
}
a:hover,a:visited, a:active {
  color:darkgreen;
  text-decoration: none;
}

nav li{
  border: 2px darkorange outset;
  border-radius: 5px;
  background-color: rgba(0,0,0,.3);
}
nav li:hover{
  background-color: darkgreen;
}
.instructions{
  padding-top:10px;
}
#footer-box{
  border-top: 2.5px orange ridge;
  border-radius: 45px 45px 0 0;
  background-image: url("../images/footer.jpg") ;
  background-size: 100%;
  background-repeat: no-repeat;
}
.search-input{
  display:flex;
  margin: 5px, 5px, 5px, 0;
}
main{
  border-left: 2.25px solid limegreen;
  border-right: 2.25px solid limegreen;
  border-radius: 0 0 22px 22px;
  background-color: rgba(0,0,0,0.3);

}
#search-bar input{
  background-color: #1C5253 ;
  border-radius: 5px;
  padding:5px;
  
}
#search-bar input:focus{
  outline:limegreen 1px auto;
  background-color: rgba(0,0,0,.25);
  color:darkorange;
}
#wigol-btn{ 
  background-color: rgba(0,0,0,.3);
  border-radius: 5px;
  margin:auto;
}


.artist, .lyrics,.title{
  margin: 10px;
}
.lyrics{
  line-height: 1.125em;
}


#button-wrap {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.worm-in-library {
  width: 25px;
  padding-left:5px
}

#team-header, .headline {
  padding-top: 20px;
  margin-bottom: 10px;
}

.team-member {
  margin-top: 20px;
  display:flex;
  background-color: rgba(50,205, 50, 0.25);
  border-radius: 22px;
}

.team-headshot {
  max-width: 100px;
  padding:5px;
  border-radius: 5px;
  margin: 50% auto;
}
.member-name{
  padding: 5px;
  border-bottom: 2px limegreen;
  border-style: groove;
  margin-left:10px;
  border-radius: 0 0 0 12px;
}
.member-name-r{
  padding: 5px;
  border-bottom: 2px limegreen;
  border-style: groove;
  margin-right:10px;
  border-radius: 0 0 12px 0;
  text-align:right;
}
.bio{
  padding:5px;
  line-height: 1.2em;
  /* border: 2px limegreen;
  border-style: groove;   */
}

#content-wrap {

}

#button-wrap {
  
}
