<!DOCTYPE html>
<html>
  <head>
    <title>Wigol-It Team</title>
    <%- include('../partials/head.ejs')%>
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs')%>
    </header>
    <main>
      <section>
        <h2>Meet the Wigol Team:</h2>
        <p>about the team that brought you wigol</p>
      </section>
      <section>
      about us
      </section>  
    </main>
  </body>
  <footer>
    <%- include('../partials/footer.ejs')%>
  </footer>
</html>
